{{#each items}}

    <h2>{{name}}</h2>

    {{#if images}}
       <img src="{{images.1.url}}" alt="">
    {{/if}}
    <br>
    <a href="/albums/{{id}}">View Albums</a>

{{/each}}


{{!-- name, image, and button (or link) to show the albums --}}